[2016-08-19 18:47] fordarian opened #2 "Windows installation from scratch"
I was not able to use it in windows from scratch until:

added   `'linebreak-style': ["error", "windows"] ` to .eslintrc.js
and run `npm install babel-runtime --save`

[2016-08-19 18:54] petervmeijgaard commented on #2
Hi fordarian, thanks for the headsup! I will Apply the fix tomorrow. I ran into the same issue today. Has to do something with the way Windows handles line endings.

[2016-08-20 11:43] petervmeijgaard commented on #2
Fixed in https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/15f46fdfbdd50cc79668cfef934fc08a58e0a16e

[2016-08-20 11:44] #2 closed

[2016-08-23 12:08] fordarian opened #4 "Windows Scaffolding issue"
Hi! Scaffolding in windows is kinda broken for me.

1) By default it drops:

But this can be fixed by adding `"use strict";` to the top of the  `\task\create-component\task.js`

2) Then it exits with:

It looks like the app path is not recognized correctly (mkdir 'E:\src\app\pages\agents', and my app full path is "E:\01 Coding\order\")

Debug log:
[npm-debug.log.txt](https://github.com/petervmeijg

[2016-08-24 10:11] petervmeijgaard commented on #4
Hi! I'm currently on vacation! Will check next tuesday! The scaffolding is still unstable and need to be refactored. For now, create the files manually.

[2016-08-24 11:04] petervmeijgaard commented on #4
Btw, update to the latest version of Node instead of 4.4.7

[2016-08-24 11:20] fordarian commented on #4
Hey, that was almost LTS (4.5) :)

Updated to node 6.4.0 and nmp 3.10.3 - still dont work with the same error.

[2016-08-30 15:23] petervmeijgaard commented on #4
I have created a standalone CLI package:
https://github.com/vivid-web/lucevi

Still in development, but you can try it by using `npm i -g lucevi`.
Use `lucevi make:component my-component` or `lucevi make:layout my-layout`.
Page support will be added soon!

[2016-09-02 15:15] #4 closed

[2016-09-12 23:35] sodoojin opened #6 "data binding at default layout"
hi i'm new to vuejs.

i want to put some logic into layout component. ( login, register modal )
but slot content is disappeared after update binding.

for example.
i modified layouts -> minimal.html
[code]

and layouts -> minimal.js
[code]

after change input box, pages -> login -> index content was disappeared.

is it normal? i thought layout is also vue component.

thank you.

[2016-09-12 23:44] sodoojin commented on #6
[code]

this warning was caused after update vuejs version to ^2.0.0-rc5

[2016-09-13 05:40] skyrpex commented on #6
The [issue exists](https://github.com/vuejs/vue/issues/3642) and has been resolved (but not applied yet).

[2016-09-13 06:00] sodoojin commented on #6
thank you very much for your reply!!!

[2016-09-13 06:00] #6 closed

[2016-09-13 07:28] petervmeijgaard commented on #6
Hi @sodoojin,

Thanks for the heads-up!
Perhaps you can downgrade to Vue 2.0.0-rc4
I will upgrade Vue to rc6 as soon as it will be released.
If you've got any questions, feel free to ask them!

[2016-09-13 15:49] skyrpex commented on #6
Vue 2.0.0-rc6 is available! ;-)

[2016-09-13 16:04] petervmeijgaard commented on #6
Haha that's quick! I will update the repo soon!

On Tue, Sep 13, 2016 at 5:49 PM +0200, "Cristian Pallarés" <notifications@github.com<mailto:notifications@github.com>> wrote:

Vue 2.0.0-rc6 is available! ;-)

-
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/petervmeijgaard/vue-2.0-boilerplate/issues/6#issuecomment-246727564>, or mut

[2016-09-13 16:35] petervmeijgaard commented on #6
Updated to Vue 2.0.0-rc.6 😄

[2016-09-18 12:48] itsazzad opened #7 "Integrate in a laravel app"
Can I integrate this in https://github.com/petervmeijgaard/jwt-example ?
If yes then have you any suggestion?

[2016-09-18 13:31] itsazzad commented on #7
Yes! Just I could integrate.

[2016-09-18 13:33] petervmeijgaard commented on #7
Yes sir! You can easily integrate the boilerplate in a Laravel application. The only thing you need to do is to update the configuration to your settings, as you can see here.
https://github.com/petervmeijgaard/jwt-example/blob/master/resources/frontend/config/index.js

[2016-09-18 13:38] #7 closed

[2016-09-21 16:47] fmitchell opened #8 "Babel error infrequently"
Intermittently, ```npm run dev``` would throw:

[code]

Running ```npm install babel-runtime --save ``` resolved

[2016-09-21 16:51] petervmeijgaard commented on #8
Thanks for the headsup! Fixed it in the `package.json` :+1:

[2016-09-21 16:51] #8 closed

[2016-09-22 03:18] lymanlai opened #9 "just read the code, a fucking greate one!!"
u can close this issue at any time, just want to tell u I like this boilerplate!!

for before I have been spend a lot of time on writing vue/vuex 1.0 app!

now trying to move in to 2.0!

HOLA!!!

[2016-09-22 03:23] lymanlai opened #10 "question about transform"
Hi @petervmeijgaard
is there a problem that in server site just return camelCased json data?
so, we do not need transform stuff here?

thx

[2016-09-22 04:43] petervmeijgaard commented on #10
Hi @lymanlai, it is a best practice to return snake_cased values in an API. As you can see here for the Twitter API: https://dev.twitter.com/rest/reference/get/search/tweets

[2016-09-22 04:45] petervmeijgaard commented on #10
But yeah, if you want to return camelCased values, you are free in doing so and you can strip the transformers completely. I just give an example how to deal with traditional RESTfull APIs.

[2016-09-22 05:48] #10 closed

[2016-09-22 08:32] lymanlai commented on #10
cool thx

[2016-09-22 09:27] petervmeijgaard commented on #9
Thanks 😄 !
If you've got improvements, feel free to create an issue or send me a PM 👍

[2016-09-26 08:56] m33ch opened #11 "Set history mode on router"
Hi all,

thank you @petervmeijgaard for this package.

Hi try to enable history mode on <code>bootstrap.js</code> like this :

[code]

no error on webpack, but on browser console i got this error
[code]
I try to set <code>root</code> parameter on <code>VueRouter</code> constructor but error remain.

Thank you very much!

[2016-09-26 09:46] petervmeijgaard commented on #11
Try this 😄:

[code]

Instead of `routes: [routes]`, it will compile to `routes: routes`.

[2016-09-26 10:19] m33ch commented on #11
Oh! Thankyou @petervmeijgaard !

[2016-09-26 10:19] #11 closed

[2016-09-29 02:01] pelletiermaxime commented on #9
Same for me! I just used this boilerplate to do a medium sized app and it really helped me keep my code clean and saved me a lot of time I would have spent configuring stuff. Plus it helper me move to 2.0 =).
Thanks!

[2016-09-29 12:55] harrysbaraini opened #13 "Redirect is not a function"
I'm getting a 'Redirect is not a function' in the bootstrap.js file, on router.beforeEach guard.

I have read the Vue Router doc (http://router.vuejs.org/en/advanced/navigation-guards.html) and it says that global guards has the following signature:

[code]

So to redirect we have to use the next argument.

[2016-10-01 09:38] petervmeijgaard commented on #13
Fixed in:
https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/fbe087c81b7bc1b71f01f51dfa41e26f5d7f6dc9

[2016-10-01 09:38] #13 closed

[2016-10-06 03:32] harrysbaraini commented on #9
Yeah. I have done some tweaks to this boilerplate, to something a bit more modular (think of modules which register pages, routes, etc), then in bootstrap, you just pass a list of available modules. But this boilerplate is great!!

[2016-10-17 15:39] wimva opened #15 "Set header to 'null' in logout breaks future xhr requests"
In app/store/modules/auth/mutations.js on line 25:
`Vue.http.headers.common.Authorization = null;`

When this is fired and future xhr request are made, these request will fail because of the error: `null is not an object (evaluating 'str.replace')` in the trim function of `vue-resource`

It is fixed by replacing that line by:
`Vue.http.headers.common.Authorization = '';`

[2016-10-17 16:04] petervmeijgaard commented on #15
Thanks for the headsup! Will fix it now...

[2016-10-17 16:34] #15 closed

[2016-11-09 14:47] vesper8 opened #17 "how to run npm with watch and hot reload?"
sorry if this doesn't belong here but i thought it'd save me some time if you could just mention how to run the dev build with watch and hotreload enabled? I see you're already loading those middlewares I just don't know how to use it

thanks alot

[2016-11-09 14:53] petervmeijgaard commented on #17
You can start the dev-server by using `npm run dev` as displayed in [README.md](https://github.com/petervmeijgaard/vue-2.0-boilerplate/blob/master/README.md#usage) under usage.
Next time read the readme before creating an issue.

[2016-11-09 20:47] knpwrs opened #18 "Consider Removing vue-resource From This Boilerplate"
`vue-resource` is being retired: https://medium.com/the-vue-point/retiring-vue-resource-871a82880af4#.xk0b5eimw

Note that this is different from deprecated. It just isn't an official recommendation anymore. To quote the reasoning:

It might be a good idea to instead promote usage of something like [`isomorphic-fetch`](https://www.npmjs.com/package/isomorphic-fetch) or [`got`](https://www.npmjs.co

[2016-11-09 22:00] skyrpex commented on #18
I'm astounded all of the choices out there. I really liked the middleware looking interceptors of vue-resource.

[2016-11-09 22:27] knpwrs commented on #18
Axios is supposed to have a very similar API. Looks like it supports middleware-style interceptors as well.

[2016-11-09 22:57] petervmeijgaard commented on #18
What is your opinion about sticking with [pagekit/vue-resource](https://github.com/pagekit/vue-resource)?
I will take a look at Axios tomorrow 😄

[2016-11-09 23:45] skyrpex commented on #18
They are a bit different. You must separate your interceptor in request and response interceptors, and create two callbacks on both in case you want to handle errors.

[2016-11-10 04:10] vesper8 commented on #17
I did read the entire readme before I even installed this. Obviously if I'm posting here it's because I'm having trouble using the "watch" and "hot reload" as I stated. Even though I've been using  'npm run dev' all along, after editing js files and vue component files it does not automatically reload/rebuild and the only way I can see my latest changes is to ctrl-c and re-run 'npm run dev'. I wou

[2016-11-10 04:36] vesper8 commented on #17
I was running npm run dev from within a virtual machine. As soon as I ran it from my mac os instead the everything began working

[2016-11-10 06:53] skyrpex commented on #17
While I agree that Peter's answer was harsh, the original issue was pretty vague. Just my 2 cents! 💪

[2016-11-10 06:59] petervmeijgaard commented on #17
My apologies for being harsh, but please, provide more information next time. I thought you meant that you didn't know how to start the dev server instead of having problems with it. If so, my reaction would have made perfect sense. 😉

What OS are you running inside the VM? What version of Node are you using?

[2016-11-10 08:29] vesper8 commented on #17
I'm using vagrant box 'homestead' via VirtualBox on OSX Sierra

homestead runs Ubuntu 16.04.1 LTS with everything up to date.

I can run the 'npm run dev' from my vagrant VM and then I'm able to access it by going to the http://ip:8080 (or using a .dev domain as I do by modifying my mac's hosts file)

But hot reload doesn't work that way.. it works perfect when I run it from the mac's operating sy

[2016-11-10 16:56] knpwrs commented on #18
I think it would be smarter to promote framework-agnostic solutions and I agree with all the reasoning in the blog post, mainly that there's no need to duplicate effort and ajax is not a core problem that is necessarily appropriate for vue to solve. Look at what happened with angular. You'd have a bunch of libraries, and then `ng-` wrappers for those libraries. Vue is designed to play well with np

[2016-11-10 21:36] skyrpex commented on #18
Sure, I totally agree with you. I already migrated my newest project to axios with no effort. It's just that it's interceptors are more cumbersome to write.

[2016-11-10 22:17] petervmeijgaard commented on #18
Fixed in https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/e5d8680a5fadd2b917176e3847f14bccd0684e19 😄
If you've got improvements, feel free to share them!

[2016-11-11 08:48] #18 closed

[2016-11-11 08:49] #9 closed

[2016-11-11 08:57] petervmeijgaard commented on #17
I don't think it's a good idea to run `npm run dev` on your VM. Homestead should in my opinion only been used to get you up and running quickly. Install the necessary software, create the databases and host the website. Running watchers and frontend stuff should been done on the host.

If you really would like to run a watcher on the VM, you can try [BrowserSync](https://www.browsersync.io/). This

[2016-11-16 09:08] petervmeijgaard commented on #17
Due to inactivity and the scope of this issue, I'll close it for now.

[2016-11-16 09:08] #17 closed

[2016-11-18 18:30] devonmather opened #20 "Steps to Deployment?"
Hey,

Thanks for the time to put together this boiler-plate. The following may seem stupid, but what are the steps to deploy this to a server? I've looked around a bit and this step seems to be oft-neglected on the web. I was hoping that everything would compile down to HTML, JS and CSS, and it wouldn't need node on the server to run, but I think I'm mistaken?

Regards,
Devon Mather

[2016-11-18 18:49] vertoo commented on #20
You must have any HTTP server. Probably you have Apache2 on hosting.

You don't need send any files from node_modules/, src/, hidden files, package.json, README.md.

How deploy? Use your own method, ftp, git... You have free choice.

[2016-11-18 18:57] devonmather commented on #20
Thanks for the quick reply! I think I figured it out, in case anyone else is new to npm like me.

- Navigate to location of app
- Enter **npm run build** in the terminal
- Navigate to app/dist
- Upload the containing files in dist to server via ftp/git etc.

[2016-11-19 14:22] #20 closed

[2016-11-28 00:29] Jordy-A opened #21 "Structuring the files"
Hi, thanks for the great boilerplate! Question: I just started with Vue.js and I'm wondering why you're creating a new directory 'App' inside the src-directory and import the whole directory in `main.js`: (`import * as App from './app';`). I don't see a lot of other boilerplates doing the same. Is there a reason you separate `main.js`, `bootstrap.js` and `/assets/` from other app files?

Why don't

[2016-11-28 08:35] petervmeijgaard commented on #21
Hi @Jordy-A,

Thanks for the feedback and the questions!

Doing `import * as app from './app'`, doesn't mean that I'm importing the whole directory.
I'm only importing `src/app/Index.vue`. When doing `import app from './app'`, Node will first try and look for an `app.*`-file. When it cannot find one, Node will treat `app` as a directory and will search for an `index.*`-file. Which is in this case

[2016-11-28 19:23] Jordy-A commented on #21
Great explanation, thanks! I agree, and I like the idea how you structure it :)

[2016-11-28 19:23] #21 closed

[2016-12-21 13:27] PHILLIPS71 opened #23 "Computed properties within page javascript"
I'm wanting to retrieve a users data from my external API when someone views a profile page by grabbing the users ID within the route params. The issue is when the server responds I can't just go this.user = response since this is undefined as it's not in a Vue file. I'm not sure if I'm using the boilerplate correctly in this case.

Am I going to need to setup an entire new vuex state to hold the

[2016-12-21 14:32] petervmeijgaard commented on #23
You are using computed properties wrong. Perhaps this will do the trick:
[code]

You can also use Vuex to store the user in the state, but that's up to you. I hope that this will work.
Keep in mind that you are updating the `user`-variable which is declared outside of the scope of Vue, which means that this won't trigger the observers.

[2016-12-21 14:37] petervmeijgaard commented on #23
Also, keep in mind that you'll need to update the data when you visit a different user page:
http://router.vuejs.org/en/essentials/dynamic-matching.html#reacting-to-params-changes

[code]

[2016-12-21 14:54] PHILLIPS71 commented on #23
Ah okay, I see where I've gone wrong! I also didn't realise that I need to reference the user from the index.html page with the this tag to gain access to the user instead of user.name doing this has solved all my issues where the user was somehow null. Thank you so much for you're help much appreciated!

[2016-12-21 15:28] #23 closed

[2017-03-06 11:00] CocaCola183 opened #25 "bind is not a function when vue-i18n in v4.x"
Run `npm run dev` and got error: `bind is not a function`

Update package.json from `vue-i18n": "^4.x` to `vue-i18n": "^5.0.0` fix it

[2017-03-11 19:52] petervmeijgaard commented on #25
Thanks for creating an issue!

It's fixed in commit https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/8355f2a224fbf1aeaaae41359ce3ee157c87abf8

😄

[2017-03-11 19:52] #25 closed

[2017-04-11 11:22] mohinlakdawala opened #28 "Issue with npm run build"
Hi,

Running `npm run build` gives the below error:

[code]
The error is from UglifyJS plugin which doesn't support ES6 code yet (unless using the harmony branch, which is still in development)

Is this because the code is not getting transpiled to ES5 correctly?

Opening the production version in IE11 gives the same error in console and the site doesn't load.

Please can you have a look?

Thanks

[2017-04-12 16:08] jimsheen opened #29 "Error trying to require SASS in bootstrap js"
I am trying to require SASS instead of stylus in bootstrap.js by replacing

```require('./assets/stylus/app.styl');```

with

```require('./assets/scss/app.scss');```

but I get this error
[code]

and in browser

[code]

Is this possible a misconfiguration in the utils.js file to do with styleLoaders function or the generateLoaders() function?

I have all necessary dependancies installed:
sass-loa

[2017-04-12 16:11] petervmeijgaard commented on #29
You need to run `npm i --save-dev sass-loader node-sass` or `yarn add -D sass-loader node-sass` in order to use SASS instead of Stylus :)

[2017-04-12 16:14] jimsheen commented on #29
@petervmeijgaard Thanks for your quick reply, I have already tried that and I am positive these loaders are installed but I am still getting the same issue

[2017-04-12 16:16] petervmeijgaard commented on #29
Could you wrap your code in three backticks? (`)
It'll make it a bit better to look at :)

[2017-04-12 16:17] petervmeijgaard commented on #29
That's odd, it's referencing to `./assets/scss/main.sass` instead of `./assets/sass/app.scss`.
Are you sure the path to the stylesheet is correct?

[2017-04-12 16:18] jimsheen commented on #29
Yes I'm positive the path is correct, I was just trying different combinations when I copy pasted it. Apologies

[2017-04-13 08:31] petervmeijgaard commented on #29
I've tried to reproduce your problem, but it's working correctly at my end.
I ran `yarn add -D sass-loader node-sass`, changed `src/assets/stylus/app.styl` to `src/assets/stylus/app.scss`, required the correct file in my `bootstrap.js`-file and everything works like a charm. I've also tried by using `app.sass` instead of `app.scss`.

Last but not least, I've removed my `node_modules` and ran `npm

[2017-04-13 08:41] petervmeijgaard commented on #28
Hmm. When I try to run `npm run build` on a fresh installation, it's working on my end.
When I run:
 - `rm -rf node_modules`
 - `yarn`
 - `yarn run build`

Or
 - `rm -rf node_modules`
 - `npm install`
 - `npm run build`

It's both working...

What version of Node, NPM and/or Yarn are you using?
On what OS does the error occur?

[2017-04-17 14:39] zloadmin commented on #28
I have some problem

[code]

Remove node_modules folder didnt help.
I use npm 3.10.10 and node v6.10.0

[2017-04-17 15:41] zloadmin commented on #28
1 Add "es2015" in .babelrc
from
[code]
to
[code]
2 install packages
`npm install babel-cli babel-preset-es2015`
3 build again
`npm run build`

[2017-04-17 15:44] zloadmin opened #30 "Opening index.html over file:// won't work."
When i build scrips i get this error

  Tip: built files are meant to be served over an HTTP server.
  Opening index.html over file:// won't work.

I think it's script can't write in index.html

[2017-04-17 15:45] petervmeijgaard commented on #30
Can you please change the title to something a bit more readable? 😄

[2017-04-17 15:45] petervmeijgaard commented on #28
Thanks! I'll take a look at it when I got time :)

[2017-04-17 19:38] petervmeijgaard commented on #30
This is not an error. It basically says that you need to serve the production files using a webserver.
When you open the file directly in your browser, it simply won't work.

[2017-04-17 19:38] #30 closed

[2017-04-17 19:52] petervmeijgaard commented on #28
Alright, I've applied the fix @zloadmin suggested.
If someone can test this using Internet Explorer, that would be great 😄
You can checkout the `develop`-branch to check if it's working.

[2017-04-18 16:50] shuaibird commented on #28
The `babel-preset-es2015` should be used for vue-loader to transpile ES6 syntax into ES5
By the way, I recommend use the `babel-preset-stage-0` rather than the `babel-preset-stage-2` for implementing more ES6 sweet syntax

[2017-04-19 20:45] petervmeijgaard commented on #29
@jimsheen Could you please give me more information about the issue you are encountering?

[2017-04-23 22:25] petervmeijgaard commented on #29
I'm closing this issue due to inactivity

[2017-04-23 22:25] #29 closed

[2017-04-23 22:27] petervmeijgaard commented on #28
@shuaibird Thanks for recommending the `stage-0` preset, but I'll stick with the `stage-2` preset for now. The `stage-0` is a bit too bleeding edge for me and a lot of features won't make it to `stage-2`. Thanks for the headsup by the way!

[2017-04-23 22:27] #28 closed

[2017-04-29 07:12] afrianjunior opened #34 "How to run in production mode?"
How to run in production mode?

[2017-04-29 11:29] petervmeijgaard commented on #34
You can build the application with `npm run build`. The application will be build in the `dist`-directory. You can upload this directory to the root of your server and point the software where the index.html is located.

[2017-05-06 12:51] petervmeijgaard commented on #34
Due to inactivity, I'm closing this issue

[2017-05-12 16:01] Izopi4a opened #35 "(node:5361) UnhandledPromiseRejectionWarning: Unhandled promise rejection"
I am getting this error when i do `npm run dev`

[code]

anyone have any idea what's the reason for it to happen ?

node 6

[2017-05-12 16:06] Izopi4a commented on #35
ok its the

autoOpenBrowser: false,

which i found by accident :D

because i am running in server enviorment without gui

[2017-05-12 16:06] #35 closed

[2017-06-06 19:30] BerniWittmann opened #36 "Issue installing post-css-loader"
First of all: Awesome boilerplate 👍

Now to my problem:

I tried to install `postcss-loader` to autoprefix css with vendor prefixes.

Since I already installed `sass-loader` successfully, I would have expected `postcss-loader` to also work by just doing `npm install postcss-loader autoprefixer --save-dev`.

But sadly my css is not getting autoprefixed... Do I have to change something in `.postcssr

[2017-06-07 10:12] petervmeijgaard commented on #36
Hi @BerniWittmann!
Have you read this documentation for PostCSS?
https://vue-loader.vuejs.org/en/features/postcss.html

The boilerplate comes shipped with PostCSS, so you don't need to install PostCSS.
You need to change the settings in the `.postcssrc.js` file found at the root of the project.
In the `package.json`-file, there's a section called `browserlist`. Here you can specify which version o

[2017-06-12 16:41] BerniWittmann commented on #36
@petervmeijgaard
Cool thanks for the advice 👍

[2017-06-12 17:21] petervmeijgaard commented on #36
You're welcome! Glad I could help! 😊

[2017-07-10 15:25] evild70 commented on #36
@BerniWittmann Did you get this resolved? I'm trying to accomplish the same thing but I can't get Autoprefixer to work. It doesn't even autoprefix the default `app.styl` file.

[2017-07-10 17:22] BerniWittmann commented on #36
@evild70 Actually I got it working using `<style>` in the Vue-Component.
e.g. `components/panel.vue`
[code]

The `panel-body` is then correctly prefixed.

@petervmeijgaard I still found two issues here:

1. I think there is a typo in the `package.json` concerning browserlist. The key is correctly called `browserslist` (See [browserslist doc](https://github.com/ai/browserslist#packagejson)). I will

[2017-07-10 17:32] BerniWittmann commented on #36
I just noticed the `styleLoaders` which should handle standalone style files, like I just mentioned, but somehow they're not working. But I just need to dig a bit into that before I can say more.

[2017-07-10 17:36] petervmeijgaard commented on #36
Hi @BerniWittmann! Yeah, that was a stupid typo. Thanks for the PR!
Can you check if it's working now?

For the second question, are you refering to this [`cssLoaders`](https://github.com/petervmeijgaard/vue-2.0-boilerplate/blob/master/build/utils.js#L12)-method that's being used in the [vue-loader.config.js](https://github.com/petervmeijgaard/vue-2.0-boilerplate/blob/master/build/vue-loader.conf.

[2017-07-10 17:37] evild70 commented on #36
@BerniWittmann None of our SCSS is scoped inside `.vue` They are all separate, standalone SCSS files. I've also been trying to figure out how to autoprefix the standalone files.

[2017-07-10 17:38] BerniWittmann commented on #36
@petervmeijgaard
Using inComponent Styles is working correctly. As far as I understood these are handled by `cssLoader`.

The problem is with standalone style files (like @evild70). The loaders are handled by `styleLoaders` function.

[2017-07-10 17:48] BerniWittmann commented on #36
@petervmeijgaard Could the issue be in `build/utils.js` line 50? Is `vue-loader` really necessary when using standalone files?

[2017-07-12 20:43] evild70 commented on #36
@petervmeijgaard @BerniWittmann I know this is bad form, but did you make any headway on this issue?

[2017-07-24 23:20] BerniWittmann commented on #36
@evild70 I could solve this issue, but now a warning appears when using in-component style and i couldn't find another way, than removing `devtool: '#cheap-module-eval-source-map',`.
See https://github.com/petervmeijgaard/vue-2.0-boilerplate/pull/39

[2017-07-25 02:49] evild70 commented on #36
@BerniWittmann Great work. I'll give that a try. My hack was to run autoprefixer using `postcss-cli` after the build was finished:
[code]
This, of course, is not the desired solution but it worked in a pinch.

[2017-08-13 15:37] jaysoifer opened #40 "Include Testing Frameworks"
Including Unit Tests and End-to-End (e2e) Tests.

[2017-08-28 09:39] paolog22 opened #42 "Please Update"
this is awesome hope you update soon thanks

[2017-08-28 09:53] petervmeijgaard commented on #42
What do you want me to update? Do you want me to bump the version of the Vue ecosystem?

[2017-08-28 10:10] paolog22 commented on #42
yes sir that would be very awesome.. thanks :)

[2017-08-31 09:55] paolog22 commented on #42
and also vue-router-sync is not support in vue2.0 sad :(

[2017-08-31 10:49] petervmeijgaard commented on #40
Fixed in https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/1644841fc5373c456ae4d3dd4d79cbc6c8769ad6

[2017-08-31 10:49] #40 closed

[2017-08-31 10:50] petervmeijgaard commented on #42
Fixed in https://github.com/petervmeijgaard/vue-2.0-boilerplate/commit/1644841fc5373c456ae4d3dd4d79cbc6c8769ad6 😄

[2017-08-31 10:50] petervmeijgaard commented on #42
Also, `vue-router-sync` is working correctly at my end...

[2017-08-31 10:50] #42 closed

[2017-09-04 03:10] paolog22 opened #44 "Help. how to use the proxies"
i import the authproxy then called authproxy.login()
log error is auth.login is not a function..

thanks

[2017-09-04 03:27] paolog22 commented on #44
new authproxy().login()

please close this sorry my bad :)

[2017-09-04 09:56] petervmeijgaard commented on #44
No problem at all! I agree that it was a bit vague how to use the proxies. I hope that it is fixed now in this [commit](https://github.com/petervmeijgaard/vue-2.0-boilerplate/pull/45/commits/fe6aa2c83541142b4721cfd753a62afa0ee97dfd)

[2017-09-04 09:56] #44 closed

[2017-09-07 05:16] paolog22 opened #46 "Question about eventBus"
hi sir.. i have this trouble about component communication, What would be the best approach for this should i use a global EventBus or make an entry to store for the UI components ?
thanks

[2017-09-07 11:18] petervmeijgaard commented on #46
Hey, @paolog22! Thanks for your question!

I like to keep my components as "dumb" as possible. The only way I think they should receive data, is from using props. For letting know that something happened to the component, the best approach is to emit an event. Let's say we have an alert message something like this:
[code]
So when we click the button, the `close`-method will be called and the `clos

[2017-09-07 11:55] paolog22 commented on #46
thanks for the feedback,, that is exactly what i am looking for.. and one more thing sir.. about vuex should i store my state on localstorage so even i refresh the page state are still there ?

[2017-09-07 12:44] petervmeijgaard commented on #46
Hmm, I haven't tried `localStorage` in combination with Vuex. I fetch all the data once the application has been fully loaded. Perhaps [this Vuex plugin](https://github.com/robinvdvleuten/vuex-persistedstate) will answer your question.

Keep in mind that this makes it harder to keep your application up-to-date:
Let's say you load the application and you fetch a post from the API:
[code]
You store

[2017-09-07 12:51] paolog22 commented on #46
hmm.. thank you sir.. just wondering because when i logged in the state of authenticated became true but then when i refresh the page i become false. .  that is why maybe i thought there is other way to do it.

thanks for the feedback sir. i will share here what i could found. :)

[2017-09-07 12:55] petervmeijgaard commented on #46
Ah you are correct! This is a bug in the boilerplate. I'll fix this right away 🤙

[2017-09-07 12:59] #46 closed

[2017-09-07 13:02] petervmeijgaard commented on #46
It should be fixed now 😄
As a matter of fact, I am storing the token in `localStorage` when the user is logged in as you can see [here](https://github.com/petervmeijgaard/vue-2-boilerplate/blob/master/src/store/modules/auth/mutations.js#L31).
Then I check on load if the `id_token` has been set in `localStorage`. The mutation can be found [here](https://github.com/petervmeijgaard/vue-2-boilerplate/

[2017-09-07 13:05] paolog22 commented on #46
thanks sir.. :)

[2017-09-12 05:22] paolog22 opened #47 "help question"
hi sir.. is there any other way to use existing jquery with this boilerplate ? because i have this working UI with jquery and i want to use it and make the data with vuejs ..
thanks sir.

[2017-09-12 05:30] paolog22 commented on #47
this is done! :D hahah thanks sir,, you may close it.. for reference for other.. all your jquery code put in inside `$(document).ready( () => {
})`;

[2017-09-12 08:58] petervmeijgaard commented on #47
Hi @paolog22!

It's cleaner to call the jQuery plugins inside the `mounted`-method instead of using `$(document).ready{ () => }`.
This way all the stuff is loaded when the application has been booted correctly.

[2017-09-12 08:58] #47 closed

[2017-09-13 12:18] agarwalvinit opened #48 "Autoprefixer issue on standalone scss files"
below is my app.scss which I am importing in bootstrap.js.
[code]

and below is my build/utils.js
[code]
It is unable to auto prefix the css. And my flex is breaking in almost all browsers(which uses vendor prefix).

[2017-09-13 22:52] petervmeijgaard commented on #48
Hi @agarwalvinit,

I think that I fixed the problem in commit https://github.com/petervmeijgaard/vue-2-boilerplate/commit/29cf1b1d6ef78f4c8de2a5c70442ca8aadfe901a.
Could you please check if that's the case? You can checkout the `develop`-branch to see if it's working correctly.

[2017-09-14 03:09] paolog22 opened #49 "How to use the mixin ?"
hi sir.. i try to write a mixin inside a module and try to get it as `import { mixin } from '@/store/modules/account';`
this doest work but this one
 `import { mixin } from '@/store/modules/account/mixin';`

am i doing it right ?
thanks

[2017-09-14 03:28] petervmeijgaard commented on #49
Why are you trying to import a mixin from the store? A mixin is used to extend a Vue component and can been used by multiple components. This means that you don't have to write the same code over and over again.

I've added the `slot`-mixin as an example. Just import it in the component by typing `import sloMixin from '@/mixins/slot'` and use it in your component by typing:
[code]

Please make sur

[2017-09-14 03:52] paolog22 commented on #49
copy sir thank you. sorry

[2017-09-14 12:16] #49 closed

[2017-09-14 12:30] petervmeijgaard commented on #36
Hi guys, my apologies for the extremely late update, but I've fixed the issue.
Can someone confirm that it's indeed working?

@BerniWittmann I've also fixed the warning with the source-map by pushing the `postcss-loader` at the end of the array of loaders.

[2017-09-18 01:09] alejosv opened #50 "How does proxies work?"
I'm starting with Vuejs, and after some time reviewing the framework, I wanted to start with a template, this seems excellent for keeping my first project well structured and at the same time understanding the framework.

I have a question with the proxies. I am implementing them, but using your reference code I get the following error with the login:

    Uncaught ReferenceError: payload is not d

[2017-09-18 01:15] petervmeijgaard commented on #50
Hi @alejosv! Thanks for your question!

It looks like you forgot to pass the login information to the action. Right now, it only receives one parameter, the `commit`-method. You should also send the user object to the action as well. I prefer to name this object the payload, so that's why I'm doing `.login(payload)` instead of `.login(user)`.

A proxy is used to make performing AJAX requests easie

[2017-09-18 02:13] alejosv commented on #50
Hi @petervmeijgaard Thanks for your reply.

I see that the login method is defined as follows in `pages/login/Index.vue`

    methods: {
      ....
      login(user) {
        this.$store.dispatch('auth/login', user);
      },
    },

Yes, the user information is sent to the action, I am still confused, why does not the user reach the action?

[2017-09-18 02:20] alejosv commented on #50
Resolved ... thanks for yo help

[2017-09-18 02:49] #50 closed

[2017-09-22 11:52] petervmeijgaard commented on #48
Hi @agarwalvinit,

Could you please provide more information about your issue and check if the issue has been resolved yet by updating to the latest version of this boilerplate?

[2017-09-25 20:02] agarwalvinit commented on #48
@petervmeijgaard I am sorry was out of the town.

[2017-11-16 16:52] vsorrokin opened #51 "How to apply url-loader for stylus urls?"
Your boilerplate is great! I have a question:

I wrote in src/assets/styles/app.styl this:

`.logo {background-image: url('/static/img/logo.png')}`

But seems like it is not affected with webpack url-loader - I expected hashed url in builded project, but it is not. Can you please give the example about how to correctly configure webpack to apply url-loader for urls inside .styl files? Thank you!

[2017-11-16 17:03] aidanbigg opened #52 "Login not using defined API endpoint"
I've set my api endpoint the config however when I attempt to login ect it doesn't use the API

[2017-11-16 17:05] vsorrokin commented on #51
Seems like I understood. I need to set '/../../../static/img/logo.png' URL

[2017-11-20 04:42] paolog22 opened #53 "Q: how to remove or change eslint"
i am not familiar with eslint how to remove or change it to standard ?
thanks

[2017-11-21 09:41] #53 closed

[2017-11-30 15:50] baumannzone commented on #52
Can you show the code? Can't help without it.

[2017-12-15 08:47] PiotrSierankiewicz opened #54 "Can't make it work under docker."
Hi,
Could you deliver sample dockerfile that would work with this boilerplate?
I can't make it work, mine is:
FROM node:4.6.1

RUN apt-get update && apt-get install python-dev -y
RUN npm cache clean -f
RUN npm install npm@4.6.1 -g

RUN mkdir /project \
 && chmod -R 777 /project

RUN useradd -ms /bin/bash docker
USER docker

WORKDIR /project

#CMD [bash]

after npm run dev i get:
(Error is somehow

[2018-01-02 13:22] go4cas opened #55 "[FEATURE REQUEST] - Include GraphQL Client"
Include a GrpahQL client in the boilerplate, including `proxies` and `store`.

[2018-01-02 14:05] go4cas commented on #54
@PiotrSierankiewicz, I'm not sure if this will help at all, but this is how I got the app running in a local Docker image:

I first did a `npm run build`, which creates the assets in a `/dist` directory. Then, I created an image with the following `Dockerfile`:

[code]
This will copy the `/dist` directory over, and install the `http-server` module. The container will auto-start launching a web ser

[2018-01-04 09:21] PiotrSierankiewicz commented on #54
Thanks!
for some reason docker requires:
npm install -g eslint
npm install --save-dev node-sass
in dockerfile

[2018-01-04 09:21] #54 closed

[2018-02-01 20:47] Frankkkkk opened #56 "npm WARN deprecated (babel)"
When launching `npm i`, I have the following warning message:

`npm WARN deprecated babel-preset-es2015@6.24.1: 🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Thanks

[2018-02-05 14:02] go4cas opened #57 "Missing import in store actions"
Missing `import Proxy from '@/proxies/AccountProxy';` in `/src/store/modules/account/actions.js`.

[2018-02-18 13:06] petervmeijgaard commented on #55
Hi @go4cas! Sorry for the late response. I've been off the grid for a couple of weeks and finally have a stable WiFi connection.
Hmm, Im still not really sold on including GraphQL in a Vue project. There are a couple of projects and examples out there, but to me it feels like it's more of a hack than a solid solution. And including GraphQL in the Vuex store can be a challenge that I don't know how

[2018-02-18 13:11] petervmeijgaard commented on #56
Hi @Frankkkkk!

Thanks for your issue. My apologies for the late response, but I've been off the grid for a couple of weeks and I've finally found a stable WiFi connection.

I think that this issue will be fixed in the next version of the boilerplate where the Vue CLI 3 service is used. Please be a bit more patient until the project comes out of beta and is stable enough.

[2018-02-18 13:14] petervmeijgaard commented on #52
Like @baumannzone says, it'll help a lot if you show your code. How do you setup axios? What is the endpoint that is used for the API? Are you using the proxies?

Please be a bit more specific 😊

[2018-02-18 13:16] petervmeijgaard commented on #51
Glad you figured this problem out on your own! You can also place the image in the assets directory and use `url('~@/assets/img/logo.png')` if I'm correct...

[2018-02-18 13:20] petervmeijgaard commented on #51
For more information, see https://vue-loader.vuejs.org/en/configurations/asset-url.html

[2018-02-18 13:20] petervmeijgaard commented on #51
For more information, see https://vue-loader.vuejs.org/en/configurations/asset-url.html

[2018-02-18 13:23] #51 closed

[2018-02-18 13:30] Frankkkkk commented on #56
No problem ! Thanks for the repo anyways ;-)

[2018-03-28 13:11] plehnen opened #58 "webpack4"
This is my favorite boilerplate for vue, and I've tested a lot.
Any chance that this will be maintained again and ported to support webpack4 and all the latest versions?

[2018-03-28 13:45] petervmeijgaard commented on #58
Hi @plehnen and thanks for your issue!
I'm still maintaining the boilerplate but I'm currently waiting for Vue CLI 3 to be released.
For the latest version of the boilerplate, see the `upgrade-to-cli-3` branch.
The Vue service will take care of the building. However, I'm not sure if Webpack 4 is used.

Hopefully Vue CLI will be released soon :)

[2018-03-30 20:08] antonskyba opened #59 "Webpack doesn't watch for stylus changes"
I have set of *.styl files that are imported into app.styl. When I change something in the app.styl, Webpack reflects that change in a browser instantly, but Webpack ignores changes in those Stylus files until I edit app.styl or rerun 'npm run dev'. How to make it watch all the stylus files?

[2018-03-31 11:32] petervmeijgaard commented on #59
Hi @antonskyba,

I tried recreating the issue that you're facing, but it seems that it's working at my end.
Can you provide me with a bit more information?
How are you importing the other stylesheets in the `app.styl`?
Can you share your code on how you do it?
What operating system are you using?
Can you provide me the version of node, npm and/or yarn?

I've tried the following. I've made a file i

[2018-03-31 13:59] antonskyba commented on #59
Thank you @petervmeijgaard for the feedback.
Just realised where is the problem: my imports contain Stylus variables, like that:
`@import $components-path + 'Navbar/navbar.components'`
Since Webpack doesn't understand Stylus variables it simply ignores such statements. So if I write import without variables, everything works as expected:
`@import '../../components/Navbar/navbar.components'`

[2018-03-31 13:59] #59 closed

[2018-04-01 06:13] petervmeijgaard commented on #59
Hi @antonskyba,

Glad I could help and that you've figured it out!
If you want to, you can define the  `$compoments-path` in your webpack configuration. This can be done in the `build/webpack.base.conf.js`-file.
This way you don't have to type long directory names and you can use the reload on safe functionality that webpack offers.

The only thing you have to keep in mind is that you need to use

[2018-04-02 16:24] antonskyba commented on #59
Thanks a lot! Will use that.

[2018-04-06 14:25] brunonmelo opened #60 "Change base href"
Hello everyone.

This is the situation, I successfully deployed my application on server using the default base href, that is: **www.my-site.com**
but my problem was, when I tried to deployed on a preexisting site, in a sub-folder, something like this:
www.pre-existing-site.com/**my-app**

I only get a blank page with theses erros on console
`
manifest.da43be1555a119727311.js:1 Uncaught SyntaxErro

[2018-04-14 14:11] mangcoding opened #61 "change path app to src in vueture-cli"
Hy Pete, thanks to make awesome boilerplate. i want to ask something..
how to change the folder base in vueture-cli (https://github.com/vueture/vueture-cli). when i start to write :

`vueture make:layout Base`

the component built inside src/app folder instead of src folder like your boilerplate has. Thanks.
[code]

[2018-05-07 08:48] roquie opened #62 "Vuex structure without code duplications"
Hi! I think this question excites many users and maybe it is worth adding to boilerplate as example code.

Vuex based on global state and if you want to use form validation (server side) and API pagination your should duplicate state object for any CRUD operation.

So, for example how use pagination with vuex:
[code]

`Position` is a CRUD object which have a two standard things: **pagination** for

[2018-05-22 03:33] causztic commented on #62
I think you can add to `Axios.interceptors.response` to commit an action when the status is 422, similar to how the boilerplate manages a 401. That is, if you don't having a global error state.

[2018-08-11 12:33] petervmeijgaard commented on #58
The latest version of the boilerplate is using Vue CLI 3, which is based on the latest version of Webpack.

[2018-08-11 12:33] #58 closed

[2018-08-11 12:33] petervmeijgaard commented on #52
Closing issue due to inactivity.

[2018-08-11 12:33] #52 closed

[2018-08-11 12:34] petervmeijgaard commented on #36
Closing issue due to inactivity.

[2018-08-11 12:34] #36 closed

[2018-08-11 12:35] petervmeijgaard commented on #56
Fixed in the latest version of the boilerplate. Removed the build steps completely and the boilerplate now fully depends on Vue CLI 3. If babel is out of date or deprecated, create an issue at the official Vue CLI repository.

[2018-08-11 12:35] #56 closed

[2018-08-11 12:38] petervmeijgaard commented on #57
Hi @go4cas,

The comments in the `actions.js`-file are only there to demonstrate how to use the proxy. I'm not importing it, because I don't have a connection to a backend setup. So if I use it at the top of the file, I'm obliged to use it, otherwise ESLint will complain that I'm importing an unused variable.

[2018-08-11 12:38] #57 closed

[2018-08-11 12:40] petervmeijgaard commented on #60
Can you try to build the project again? I'm using Vue CLI 3 right now, so if the issue still exists, I believe you have to change a couple of settings in the `vue.config.js`-file.

For more information, visit the Vue CLI documentation [here](https://cli.vuejs.org/)
I think you'll have to set this specific variable:
https://cli.vuejs.org/config/#baseurl

[2018-08-11 12:40] #60 closed

[2018-08-11 12:42] petervmeijgaard commented on #61
Hi @mangcoding,

Unfortunately I don't have enough time on my hands for continuing with Vueture. I still on planning a generator for Vue from which you can create components, pages, layouts and more, but right now, I don't have the time.

My apologies for the inconvenience.

[2018-08-11 12:42] #61 closed

[2018-08-11 12:45] petervmeijgaard commented on #48
Hi @agarwalvinit,

Can you check if the issue still exists? I'm using the latest verion of Vue CLI and the CLI is now responsible for building the application, so I believe that they are responsible for autoprefixing the CSS.

My apologies for the late response, but I wanted to wait for Vue CLI 3 to release in order to fix the issues. Otherwise I had to rewrite the application twice, which would t

[2018-08-14 07:46] agarwalvinit commented on #48
Ya, It's working now. Thanks 👍

[2018-08-14 07:46] #48 closed

[2019-01-31 14:27] dyingangel666 opened #64 "wrong store path?"
https://github.com/petervmeijgaard/vue-2-boilerplate/blob/a908828b3bbaf6e963bedebdf2faca64472f1e8c/src/main.js#L52

This path is wrong and should be import from './plugins/vuex.js' instead, isn't it?

EDIT: Forget it... i'm just confused today xD

[2019-01-31 14:32] #64 closed

[2019-04-17 06:42] coderKong opened #66 "Where to define webpacks assetsSubDirectory"
Where to define Webpacks assetsSubDirectory

[2019-04-17 07:30] #66 closed

[2019-04-17 07:31] coderKong commented on #66
https://cli.vuejs.org/config/#baseurl

[2019-06-24 03:05] thanhnho1102 opened #67 "baseURL settings do not take effect for axios"

[2019-06-24 03:51] #67 closed

[2020-01-27 06:33] SuperlativeEntity opened #75 "Deprecated Packages"
Hi There!

When running npm install, herewith some deprecated packages:

core-js@2.6.11
joi@11.4.0
topo@2.0.2
circular-json@0.3.3
socks@1.1.10
json3@3.3.2

found 11 vulnerabilities (1 low, 1 moderate, 8 high, 1 critical)

[2020-06-16 19:21] encryptedtouhid commented on #34
I am working on a personal project with this vue application. When I build for production and host the files from "dist" to IIS. it shows White Blank Page. :/ very unexpected issue. @petervmeijgaard

[2020-06-17 05:13] encryptedtouhid commented on #20
and after this i am getting blank screen

[2020-06-17 08:11] petervmeijgaard commented on #34
Hi @encryptedtouhid and thanks for your reply. I'll reopen this ticket, due to the fact that more people are experiencing problems with my setup.

I'm assuming you're running the app from a Windows Server-like environment? Can you provide more details about how you run the application? As in, what command do you run? What's the output of the command? Do you see any errors in the logs?

Also, keep

[2020-06-17 08:15] petervmeijgaard commented on #75
Hi @SuperlativeEntity and thanks for posting an issue. It's been a while since I've updated the packages to the latest version. To be honest, I kinda forgot about this project and wasn't aware that a lot of people are still using it (840+ stars, holy moly 😱 )

I'll try to update the project asap to use the latest packages and best-practices that Vue offers.

Give it a bit more love that it deserve

[2020-06-27 07:28] petervmeijgaard commented on #75
This has been fixed in the latest version

[2020-06-27 07:28] #75 closed

[2020-06-27 07:28] petervmeijgaard commented on #55
Because of inactivity, I'm closing this issue

[2020-06-27 07:28] #55 closed

[2020-06-27 07:29] petervmeijgaard commented on #62
I think this would clutter Vuex a bit too much for my preference. If you come up with a pull-request, I'd take it in consideration again

[2020-06-27 07:29] #62 closed

[2020-06-27 07:30] petervmeijgaard commented on #34
Hi @encryptedtouhid, can you verify if the production build is still failing and provide me with a bit more information if it does?

[2020-06-27 14:04] encryptedtouhid commented on #34
hello @petervmeijgaard , Thank you for your kind reply & sorry for late response. I was busy with that issue and successfully fixed it.  It was just a issue with router.  but it not clear to me.
I had to change meta tag "auth" & "guest" from true to false. after that it starting to show.

![image](https://user-images.githubusercontent.com/10276184/85924032-67e4ee00-b8b1-11ea-9354-5cc84059e769.png)

[2020-06-27 14:07] petervmeijgaard commented on #34
Hi @encryptedtouhid! Yeah, by setting the meta to `guest`, you're allowing everybody to visit the page. By setting it to `auth`, only users who are logged in are able to view this page. I hope that this will clarify your problem. If so, I'd like to close this issue if that's alright by you

[2020-06-27 14:09] encryptedtouhid commented on #34
sure <3

[2020-06-27 14:10] #34 closed